:root {
    --dark: #9104fb;
    --accent: #e8491d;
    --primary: #35424a;
    --secondary: #1c3fa8;
    --lite: #f4f4f4;
    --success: green;
    --danger: red;
    --container_width: 1500px;
}

span {
    color: var(--accent);
    font-size: 1.5rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 2rem;
}

h1 {
    line-height: 4rem;
}

.site-content {
    flex: 1;
}


/* header */

header {
    background-color: #35424a;
    color: var(--lite);
    min-height: 70px;
    border-bottom: 4px solid var(--accent);
    font-size: 1.2rem;
}

header a {
    color: var(--lite);
    padding: 10px;
    margin: 20px;
}

header a:hover {}

header .flex {
    justify-content: space-between;
}


/* showcase */

.showcase h1 {
    font-size: 70px;
    padding: 10px;
    padding-top: 60px;
}

.showcase {
    background-image: url(img/showcase.jpg);
    background-position: center;
    height: 50vh;
    min-height: 400px;
    margin: 0;
    color: var(--lite);
    font-size: 2rem;
}

.showcase .container {
    text-align: center;
}


/* newsletter */

.newsletter {
    padding: 10px;
    color: white;
    background-color: var(--primary);
}

.newsletter .flex {
    justify-content: space-between;
}

.btn-subscribe {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    border: none;
    font-size: 1.2rem;
}

input {
    padding: 10px 30px;
}


/* boxes */

.boxes {
    margin-top: 30px;
}

.box {
    padding: 10px;
    text-align: center;
}

.boxes img {
    width: 30%;
    margin-bottom: 10px;
}


/* about */

.main .grid {
    grid-template-columns: 2fr 1fr;
    align-items: start;
}

.main aside {
    align-self: start;
}

.dark {
    background-color: var(--primary);
    color: white;
    padding: 30px;
    margin: 20px;
}


/* services */

.main-article {
    padding: 20px;
    margin: 20px;
}

.main-article h1 {
    font-weight: bold;
}


/* footer  */

footer {
    background-color: var(--accent);
    text-align: center;
    color: white;
}

.current a {
    color: var(--accent);
}


/* media queries */

@media (max-width :768px) {
    header .flex,
    .newsletter .flex {
        flex-direction: column;
    }
    header ul {
        flex-direction: row;
    }
    .showcase h1 {
        margin: 10px;
        padding: 10px;
        font-size: 4rem;
    }
    .newsletter form {
        text-align: center;
    }
    .boxes .grid,
    .main .grid {
        grid-template-columns: 1fr;
    }
}


}